
<header id="header" class="fixed-top d-flex align-items-center header-transparent" style=" height: 80px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: rgba(1, 4, 136, 0.9);

    ">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href=""><span style="font-size: 1.2rem;">JCMOUTREACH</span></a></h1>

        
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <button type="button" class="mobile-nav-toggle d-lg-none"><i class="icofont-navigation-menu"></i></button>
        <ul>
          <li class="active"><a routerLink="/">Home</a></li>
          <li class="drop-down"><a>About Us</a>
            <ul>
              <li><a routerLink="/about">About Jesus Children Missions</a></li>
              <li><a routerLink="/tenderlift">TenderLift Junior Grade</a></li>
              <li><a routerLink="/volunteer">Volunteer Opportunities</a></li>
              <li><a routerLink="/faq">Frequently asked Questions</a></li>
            </ul>
          </li>
          <li><a routerLink="/support">Support</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>

        </ul>
      </nav>

    </div>
  </header>